:root{
    --black:"#151515";
    --purple : "#301b3f";
    --blue: "#3c415c";
    --grey: "#b4a5a5";
    --white: "white";
}

body{
    padding : 0;
    margin : 0;
    background-color : rgb(26, 26, 26);
    height:100vh;
    width:100vw;
}

*{
    font-family:'Montserrat', sans-serif;   
    color: "#fff";
}

ul{
    list-style:none;
    margin : 0;
    padding : 1rem;
}

li{
    border-bottom: 1px solid #eee;    
    color : #eee;
    font-size: 16px;
    padding: 0.5rem;
    margin : 5px 0 5px 0;
    cursor:pointer;
    user-select: none; 
    transition: 0.2s all;
}

li:hover{
    color : #3143a8;
}

div.App{
    
    background-color:#0f0f0f; 
    width : 40rem;
    color : #eee;
    position:absolute;
    transform:translate(-50%, -50%);
    top : 50%;
    left: 50%;
    border-radius : 0.7rem;
}

form{
    display:flex;
    justify-content:space-between;
    background-color : #2e2e2e;    
    padding : 1rem;

}
#addBtn{
    background-color: #3c415c;
    color : white;
    font-weight: 600;
    border : none;
    padding: 0.4rem;
    cursor:pointer;
    transition: all 0.3s;
    height : 32.8px;
    width: 32.8px;    
}

#addBtn:hover{
    background-color: #434e8b;
}

.formAdd{
    border-radius: 0.3rem;
    width:100%;
    display:flex;
    overflow:hidden;
}
form div input[type="text"]{
    width: 100%;
    padding: 0.4rem;
    border:none;
}
form div input[type="text"]:focus{
    border-color: #3c415c;
    outline: none !important;


}
form label{
    width:100%;
    padding: 0.4rem;
}
header{
    background-color: #0f0f0f;
    margin:0;
    padding: 1rem;
    border-radius : 0.7rem;
}

header h3{
    font-size: 13px;
    font-weight: 200;
    
}

div.todoList{
    padding : 1.3rem 0.3rem;
}
