:root{
    --black:"#151515";
    --purple : "#301b3f";
    --blue: "#3c415c";
    --grey: "#b4a5a5";
    --white: "white";
}

body{
    padding : 0;
    margin : 0;
    background-color : #000;
    height:100vh;
    width:100vw;
}

*{
    font-family:'Montserrat', sans-serif;   
    color: "#fff";
}

ul{
    list-style:none;
    margin : 0;
}

li{
    border: 1px solid #eee;    
    color : #eee;
    font-size: 16px;
    width : 90%;
    padding: 0.5rem;
    margin : 5px 0 0 0;
}


div.App{
    
    background-color:#301b3f; 
    width : 40rem;
    color : #eee;
    position:absolute;
    transform:translate(-50%, -50%);
    top : 50%;
    left: 50%;
    border-radius : 0.7rem;
}

form{
    display:flex;
    justify-content:space-between;
    background-color : #151515;    
    padding : 1rem;
}
#addBtn{
    border-top-right-radius : 0.3rem;
    border-bottom-right-radius : 0.3rem;
    background-color: #3c415c;
    color : white;
    font-weight: 600;
    border : none;
    padding: 0.4rem;
    cursor:pointer;
    transition: all 0.3s;
}

#addBtn:hover{
    background-color: #434e8b;
}


form input[type="text"]{
    width:100%;
    border-top-left-radius : 0.3rem;
    border-bottom-left-radius : 0.3rem;
    padding: 0.4rem;
}
form input[type="text"]:focus{
    border:2px solid #3c415c;
    outline: none !important;


}
form label{
    width:100%;
    padding: 0.4rem;
}
header{
    background-color: #3c415c;
    margin:0;
    padding: 1rem;
    
}

header h3{
    font-size: 13px;
    font-weight: 200;
    
}

div.todoList{
    padding : 1.3rem 0.3rem;
}
